@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --foreground-hex: #304159;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-hex: 255, 255, 255;
    }

    html {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: #F9F2ED;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: #304159; /* temp var(--foreground-hex);*/
    margin-top: 70px;
}

a {
    color: inherit;
    text-decoration: none;
}
